h1:hover{font-size:24px;background:blue}
h1{background:green;width:250px;font-size:20px;text-decoration:underline}
ui,li{list-style:none;font-size:22px}
.body{background-color:;overflow:hidden;width:600px}